<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oRganize</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1>oRganize</h1>
    </header>
    <main class="">
        <h2>Gestiona tus tiempos, horarios y trabajos.</h2>
        <h2>Comparte los recordatorios con tu equipo de trabajo!</h2>
    </main>
</body>
</html>