<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oRganize | Registro </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
<!--     <link href="https://bouncecss.bookie0.repl.co/bounce.css" rel="stylesheet" type="text/css" /> -->
</head>
    
<body class="">
    <header>
        <h1 class="">oRganize</h1>
    </header>
    <main class="">
        <form method="post" id="login">
            <h2>Registrarse</h2>
            {{form.as_p}}
            <input type="submit" value="Registrarse">
            <a href="/login">Ya tengo una cuenta</a>
        </form>
        <a href="/iconlist">Next</a>
    </main>
    <footer>
        <p>Developed by oKidd</p>
    </footer>
</body>
</html>